:root {
    --soft_purple: rgb(122, 133, 225);
    --dark_purple: rgb(44, 48, 83);
    --pale_peach: rgb(249, 220, 167);
    --button_background: rgb(236, 222, 167);
    --button_hover_color: rgb(128, 117, 73);
    
    
    --background-color: black; 
    --classic-text: rgb(102, 239, 218);
    
    --text-color: #fff8d6;
    --shadow-color: #9666EF;
    
    --donations_message: "The game is free and funded only by donations.";

    --player-text-color: #26d000;

    
    /* temp visual aid border */
    /* --visaid: 2px dashed rgb(30, 28, 37); */
    
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;

    font-family:monospace;
    background:var(--background-color);
    color:var(--text-color);
}

/* Purge this */
.center-span {
    text-align: center;
}

#top_bar {
    /* justify-content: space-between; */
    /* Accounts for border and padding in height */
    box-sizing: border-box; 
    margin: 0px;
}

#status-box {
    border:var(--visaid);
    font-size: 14px;
    white-space: nowrap;
}

#main-text {
    min-height: 400px;
    overflow: auto;
}

.command-input {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--text-color);
}

.entry-div input {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-right: 0px;
    border-bottom: 2px solid var(--text-color);
    outline:none;
    margin-top:4px;
    margin-bottom:4px;
    background:var(--background-color);
    color: var(--text-color);
    font-size: 14px;
}

.box {
    display:block;
    /* temmp border for visual aid */
    /* border:var(--visaid); */
    font-size:14px;
}

#location-box {
    /* position: relative; */
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: auto;
}

#login-box {
    /* position:relative; */
    text-align:center;
}

.glow-button {
    margin-top:6px;
    color:black;
    font-size: 40px;
    filter:drop-shadow(0px 0px 4px var(--shadow-color));
}

.glow-button:hover {
    filter:drop-shadow(0px 0px 4px rgb(96, 96, 255));
    /* color:black; */
}

/* Game Screen */

#command-input {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid transparent;
    outline:none;
    margin-top:4px;
    margin-bottom:4px;
    background-color:rgb(14, 14, 14);
    color: var(--player-text-color);
    font-size: 14px;
}

.rounded-button {
    display:inline-block;
    width: 80px;
    border: 3px solid black;
    border-radius: 30%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
    padding-left: 4px;
    /* the padding oddness with a % radius stretches out the radius shape because each side's curve px is based on it's padding*/
    margin-top: 2px;
    margin-bottom: 2px;
    background: var(--button_background);
    color: black;
    text-align:center;
}

.rounded-button:hover {
    border: 3px solid black;
    background: var(--button_hover_color);
}

#main-background {
    position: absolute;
    height: 100%;
    width:100%;
    background:grey;
    opacity: .5;
}

#background-sky {
    height:60

}
#background-mountains {

}

#background-ground {

}

